<%page args="section_data" expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<section>
  <h4 class="hd hd-4">${_("Export grades to remote gradebook")}</h4>
  <p>
    ${_("The assignments defined for this course should match the ones stored in the gradebook, for this to work properly!")}
  </p>
  <ul>
    <li>
      ${_("Gradebook name:")} <span class="copy-confirm">${ course.remote_gradebook.get('name') }</span>
      <br/><br/>
      <input type="button" name="list-remote-assignments" value="List assignments available in remote gradebook" data-endpoint="${ section_data['list_remote_assignments_url'] }">
      <input type="button" name="list-remote-enrolled-students" value="List enrolled students matching remote gradebook" data-endpoint="${ section_data['list_remote_enrolled_students_url'] }">
      <br/><br/>
    </li>
    <li>
      <input type="button" name="list-course-assignments" value="List assignments available for this course" data-endpoint="${ section_data['list_course_assignments_url'] }">
      <br/><br/>
    </li>
    <li>
      ${_("Assignment name:")} <input type="text" name="assignment-name" size=40 />
      <br/><br/>
      <input type="button" name="display-assignment-grades" value="Display grades for assignment" data-endpoint="${ section_data['display_assignment_grades_url'] }">
      <input type="button" name="export-assignment-grades-to-rg" value="Export grades for assignment to remote gradebook" data-endpoint="${ section_data['export_assignment_grades_to_rg_url'] }">
      <input type="button" name="export-assignment-grades-csv" value="Export CSV file of grades for assignment" data-endpoint="${ section_data['export_assignment_grades_csv_url'] }">
    </li>
  </ul>

  <p class="loading hidden">
    <span class="icon fa fa-spinner fa-spin fa-large" aria-hidden="true"></span>
  </p>
  <div id="errors"></div>
  <div id="results"></div>
</section>
